<!-- <div class="col-12 mb-4">
    <div class="blog-full-image" style="background-image: url('<%- item.cover_image%>')"></div>
</div> -->
<div class="col-lg-12 col-12 pt-3 px-4 pr-lg-5">
  <h1 style="text-align: center"><%- item.title || theme.default_post_title || "Untitled" %></h1>
</div>
<div class="col-lg-12 col-12 portfolio-content">
  <%- item.content %>
</div>

<% if (page.total > 1) { %>
<nav class="page-nav">
    <%- paginator({prev_text: '<', next_text: '>'}) %>
</nav>
<% } %>
