<footer class="m-sm-5">
  <div class="footer-social">
    <a href="https://www.facebook.com/michelle.wu.980" target="_blank">
      <i class="fab fa-facebook-f" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/yr4265" target="_blank">
      <i class="fab fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/snoopy4265/" target="_blank">
      <i class="fab fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/snoopy4265" target="_blank">
      <i class="fab fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://medium.com/@michellewu" target="_blank">
      <i class="fab fa-medium-m" aria-hidden="true"></i>
    </a>
  </div>
  <div class="footer-copyright">
    © 2019 Michelle Wu. All rights reserved.
  </div>
</footer>
