<footer class="m-sm-5">
  <!-- <a href="#navbar" class="back-to-top">
    <svg width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle r="40.5" transform="matrix(1 0 0 -1 40.5 40.5)" fill="#ED4B9E"/>
      <path d="M41 57.6668V24.3335" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M28.5 36.8335L41 24.3335L53.5 36.8335" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a> -->
  <div class="footer-social">
    <a href="https://www.facebook.com/michelle.wu.980" target="_blank">
      <i class="fab fa-facebook-f" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/snoopy4265/" target="_blank">
      <i class="fab fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="https://dribbble.com/snoopy4265" target="_blank">
      <i class="fab fa-dribbble" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/snoopy4265" target="_blank">
      <i class="fab fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://medium.com/@michellewu" target="_blank">
      <i class="fab fa-medium-m" aria-hidden="true"></i>
    </a>
  </div>
  <div class="footer-copyright">
    © 2022 Michelle Wu. All rights reserved.
  </div>
</footer>
