<div class="container">
  <div class="hero">
    <div class="hero-text">
      <h1 class="display-3">Hello! I’m Michelle. </br> A product designer based in Berlin.</h1>
    </div>
    <h5>I am an advocate of user-centered design to solve business problems, finding the intersection between design, technical constraints and business interests.</h5>
    <div class="footer-social">
      <a href="https://www.facebook.com/michelle.wu.980" target="_blank">
        <i class="fab fa-facebook-f" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/snoopy4265/" target="_blank">
        <i class="fab fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="https://dribbble.com/snoopy4265" target="_blank">
        <i class="fab fa-dribbble" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/snoopy4265" target="_blank">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://medium.com/@michellewu" target="_blank">
        <i class="fab fa-medium-m" aria-hidden="true"></i>
      </a>
    </div>
    <img src="/images/profile-image.jpg" alt="portrait" class="portrait">
  </div>
</div>

  <div class="container">
  <div class="light-block">
    <div class="row">
      <div class="col-12 col-md-5 mb-3">
        <h1 class="display-4">Skills .</h1>
        <div class="list-item">Product Design</div>
        <div class="list-item">UI/UX Design</div>
        <div class="list-item">User Research</div>
        <div class="list-item">Design System</div>
      </div>
      <div class="col-12 offset-md-2 col-md-5 mb-3">
        <h1 class="display-4">Experience .</h1>
        <div class="list-item">
          <div>Product designer <span style="position:absolute;right:24px">2023<span></div>
          <small><a href="https://saucelabs.com/" target="_blank">@Sauce Labs</a><small>
        </div>
        <div class="list-item">
          <div>UI/UX designer <span style="position:absolute;right:24px">2021-22<span></div>
          <small><a href="https://www.infarm.com/" target="_blank">@Infarm</a><small>
        </div>
        <div class="list-item">
          <div>UI/UX designer<span style="position:absolute;right:24px">2020-21<span></div>
          <small><a href="https://www.mymycatering.com/en-de" target="_blank">@MYMY Catering</a><small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="display-4 mb-0 ml-3">Works .</h1>
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="img-hover-zoom">
          <a href="/portfolio/ProductionPlanningDesign"><img src="/images/infarm-1.jpg" alt="Infarm" class="img-fluid"></a>
        </div>
      </div>
      <div class="col-12 col-md-5 offset-md-1">
        <h1>Design For Production Planning</h1>
        <h5>Improve current software to support users with frictionless production planning in a rapidly growing vertical farming business.</h5>
        <a href="/portfolio/ProductionPlanningDesign" class="view">
          View case study
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="img-hover-zoom">
          <a href="/portfolio/Mymycatering"><img src="/images/MYMY.png" alt="mymycatering" class="img-fluid"></a>
        </div>
      </div>
      <div class="col-12 col-md-5 offset-md-1">
        <h1>MYMY Catering</h1>
        <h5>Redesign online catering overall user experience. MYMY catering is an international catering service platform for business and private customers alike.</h5>
        <a href="/portfolio/Mymycatering" class="view">
          View case study
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="img-hover-zoom">
          <a href="/portfolio/Clincase"><img src="/images/ePro.png" alt="ePRO" class="img-fluid"></a>
        </div>
      </div>
      <div class="col-12 col-md-5 offset-md-1">
        <h1>Clincase ePRO</h1>
        <h5>ePRO, so called electronic Patient-Reported Outcome, is mainly used in clinical trials for patients to complete the questionnaires and report their outcomes by electronic methods without subjecting to their hospital visits.</h5>
        <a href="/portfolio/Clincase" class="view">
          View case study
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="light-block pb-0">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4">Personal Projects .</h1>
        <h5>Below are projects I did during my study in Digital Media Master Degree. </br>I think they are as cool as the other projects I did after my graduation,</br> if you are still interested, feel free to scroll down and explore.</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="img-hover-zoom">
          <a href="/portfolio/SpellcheckPusher"><img src="/images/Spellcheck.png" alt="Spellcheck Pusher" class="img-fluid"></a>
        </div>
      </div>
      <div class="col-12 col-md-5 offset-md-1">
        <h1>Spellcheck Pusher</h1>
        <h5>A design project explores the possibilities to improve spellchecking experience in a creative way.</h5>
        <a href="/portfolio/SpellcheckPusher" class="view">
          View project
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="img-hover-zoom">
          <a href="/portfolio/Neighbours"><img src="/images/Neighbours.png" alt="The Neighbours" class="img-fluid"></a>
        </div>
      </div>
      <div class="col-12 col-md-5 offset-md-1">
        <h1>The Neighbours</h1>
        <h5>An interactive project that question the meaning of the neighbours. Technology gives us the possibility to become neighbour with people of different time and space. However, are these real interactions? Are we the neighbour close enough or simply far away?</h5>
        <a href="/portfolio/Neighbours" class="view">
          View project
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="img-hover-zoom">
          <a href="/portfolio/CoBoard"><img src="/images/CoBoard.png" alt="CoBoard" class="img-fluid"></a>
        </div>
      </div>
      <div class="col-12 col-md-5 offset-md-1">
        <h1>CoBoard</h1>
        <h5>CoBoard expects to fill the lack of temperature and emotion in remote interaction. Furthermore, let people feel more connected to a loved one in an engaging way.</h5>
        <a href="/portfolio/CoBoard" class="view">
          View project
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

