<div class="container-fluid">
  <div class="page-wrapper">
    <section class="section0"></section>
    <section class="section1">
      <div class="image-wrapper">
        <% site.categories.findOne({name: 'portfolio'}).posts.sort('date', -1).limit(5).each(function(post){ %>
        <div class="img" style="background-image: url('<%- post.cover_image%>')"></div>
        <% }) %>
      </div>
      <div class="indicator-wrapper">
        <div class="indicator">01</div>
        <div class="indicator">02</div>
        <div class="indicator">03</div>
        <div class="indicator">04</div>
        <div class="indicator">05</div>
      </div>
      <div class="strapline1">My name is Michelle Wu. </br>I'm a -</div>
      <div class="strapline2">Work since </br>2019 -</div>
        <div class="content-wrapper">
          <div class="content">
            <h1>Designer</h1>
            <a class="button" href="/portfolio">View Portfolio →</a>
        </div>
      </div>
    </section>
    <section class="section2">
      <% site.categories.findOne({name: 'blog'}).posts.sort('date', -1).limit(3).each(function(post){ %>
      <div class="post" style="background-image: url('<%- post.cover_image || theme.default_cover_image %>')"></div>
      <% }) %>
      <div class="strapline1">In my spare time, I decided to write a blog to record my life path -</div>
      <div class="strapline2">So,</br>I'm also a -</div>
        <div class="content-wrapper">
          <div class="content">
            <h1>Blogger</h1>
            <a class="button" href="/blog">View Blog →</a>
        </div>
      </div>
    </section>

    <section class="section3 col-md-10 col-12">
      <div class="strapline">
        I'm addicted to beautiful stuffs.</br>
        So I draw, to visualize my fantasy. So I write to record impressive memories.</br>
        So I photograph, to capture dazzling moments. So I travel, to se the splendid world.</br>
        If you have any cool ideas, ping me a message, let's talk!
      </div>
    </section>
  </div>
</div>
