<div class="container-fluid">
  <div class="page-wrapper">
    <section class="section0"></section>
    <section class="section1">
      <% site.categories.findOne({name: 'portfolio'}).posts.sort('date', -1).limit(1).each(function(post){ %>
      <div class="img1" style="background-image: url('<%- post.cover_image%>')"></div>
      <% }) %>
      <div class="img2"></div>
      <div class="strapline">
        <blockquote>“I am an UI/UX Designer and Front-End Developer based in Germany. I love design beautiful yet user-friendly interfaces and have passion in fulfilling them to real code.”</blockquote>
      </div>
        <div class="content-wrapper">
          <div class="content">
            <h1>_ Designer</h1>
            <a class="button" href="/portfolio">View Portfolio →</a>
        </div>
      </div>
    </section>
    <section class="section2">
      <% site.categories.findOne({name: 'portfolio'}).posts.sort('date', -1).limit(2).each(function(post){ %>
      <div class="img" style="background-image: url('<%- post.cover_image%>')"></div>
      <% }) %>
      <div class="strapline">
        <blockquote>“I am an UI/UX Designer and Front-End Developer based in Germany. I love design beautiful yet user-friendly interfaces and have passion in fulfilling them to real code.”</blockquote>
      </div>
        <div class="content-wrapper">
          <div class="content">
            <h1>_ Blogger</h1>
            <a class="button" href="/portfolio">View Blog →</a>
        </div>
      </div>
    </section>
  </div>
</div>
