<div class="container">
  <div class="hero">
    <div class="hero-text">
      <h1>Hi👋 I’m Michelle Wu, UI/UX Designer based in Berlin.</h1>
      <h5>I am an advocate of user-centered design to solve business problems, finding the intersection between design, technical constraints and business interests.</h5>
      <div class="footer-social">
        <a href="https://www.facebook.com/michelle.wu.980" target="_blank">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/snoopy4265/" target="_blank">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://dribbble.com/snoopy4265" target="_blank">
          <i class="fab fa-dribbble" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/snoopy4265" target="_blank">
          <i class="fab fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://medium.com/@michellewu" target="_blank">
          <i class="fab fa-medium-m" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <img src="/images/Portrait.png" alt="portrait" class="portrait">
    <img src="/images/ellipse.png" alt="ellipse" class="ellipse">
  </div>
</div>
<div class="dark-block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <h3>Skills .</h3>
        <h5>User Research <span class="pink">Google Analytics | Hotjar | Interviews</span></h5>
        <h5>UI/UX Design <span class="pink">Figma | Sketch</span></h5>
        <h5>Web Design <span class="pink">HTML5 | CSS3 | JS | Vue</span></h5>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <h3>Activities .</h3>
        <h5>Talk: Full on Front-End <a href="https://www.meetup.com/Le-Wagon-Berlin-Coding-Bootcamp/events/270583916/" target="_blank">@Talk w/ Le Wagon Berlin</a></h5>
        <h5>Exibition: The Neighbours <a href="https://universum-bremen.de/" target="_blank">@Universum Bremen</a></h5>
        <h5>Workshop: UX Seminar</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>Infarm - Support Mixed Growing Cycles</h1>
        <h5>Infarm is a global vertical farming company that revolutionises the food supply chain and helps make cities self-sufficient in their food production.</h5>
        <div class="skills">
          <div class="skill-tag">Iterative Design</div>
          <div class="skill-tag">User Journey Mapping</div>
          <div class="skill-tag">Web Design</div>
          <div class="skill-tag">Interaction Design</div>
        </div>
        <a href="/portfolio/MixedCycles" class="btn btn-primary">VIEW CASE STUDY</a>
      </div>
      <div class="col-12 col-md-6 offset-md-1">
        <a href="/portfolio/MixedCycles"><img src="/images/infarm-2.png" alt="Infarm" class="img-fluid"></a>
      </div>
    </div>
  </div> -->
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>Infarm - Design For Production Planning</h1>
        <h5>Infarm is a global vertical farming company that revolutionises the food supply chain and helps make cities self-sufficient in their food production.</h5>
        <div class="skills">
          <div class="skill-tag">User Research</div>
          <div class="skill-tag">User Journey Mapping</div>
        </div>
        <a href="/portfolio/ProductionPlanningDesign" class="btn btn-primary">VIEW CASE STUDY</a>
      </div>
      <div class="col-12 col-md-6 offset-md-1">
        <a href="/portfolio/ProductionPlanningDesign"><img src="/images/infarm-1.jpg" alt="Infarm" class="img-fluid"></a>
      </div>
    </div>
  </div>
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>MYMY Catering</h1>
        <h5>MYMY catering is an international catering service for business and private customers alike.</h5>
        <div class="skills">
          <div class="skill-tag">Rebranding</div>
          <div class="skill-tag">Design System</div>
          <div class="skill-tag">User Research</div>
          <div class="skill-tag">Web Design</div>
        </div>
        <a href="/portfolio/mymycatering" class="btn btn-primary">VIEW CASE STUDY</a>
      </div>
      <div class="col-12 col-md-6 offset-md-1">
        <a href="/portfolio/mymycatering"><img src="/images/MYMY.png" alt="mymycatering" class="img-fluid"></a>
      </div>
    </div>
  </div>
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>Clincase ePRO</h1>
        <h5>ePRO, so called electronic Patient-Reported Outcome, is mainly used in clinical trials for patients to complete the questionnaires and report their outcomes by electronic methods without subjecting to their hospital visits.</h5>
        <div class="skills">
          <div class="skill-tag">User Research</div>
          <div class="skill-tag">App Design</div>
          <div class="skill-tag">Prototype</div>
        </div>
        <a href="/portfolio/Clincase" class="btn btn-primary">VIEW CASE STUDY</a>
      </div>
      <div class="col-12 col-md-6 offset-md-1">
        <a href="/portfolio/Clincase"><img src="/images/ePro.png" alt="ePRO" class="img-fluid"></a>
      </div>
    </div>
  </div>
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>Dapp Pocket</h1>
        <h5>Dapp Pocket is a popular crypto wallet in Taiwan, the U.S. and Southeast Asia.It allows users to manage cryptocurrencies, tokens and collectibles easily and securely in their phones.</h5>
        <div class="skills">
          <div class="skill-tag">App Design</div>
        </div>
        <a href="/portfolio/DappPocket" class="btn btn-primary">VIEW PROJECT</a>
      </div>
      <div class="col-12 col-md-6 offset-md-1">
        <a href="/portfolio/DappPocket"><img src="/images/DappPocket.png" alt="DappPocket" class="img-fluid"></a>
      </div>
    </div>
  </div>
</div>
<div class="dark-block">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>Personal Projects .</h2>
        <h4>Below are projects I did during my study in <span class="pink">Digital Media Master Degree.</span> </br>I think they are <span class="pink">as cool as</span> the other projects I did after my graduation,</br> so I decided to put them here as well.</h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>Spellcheck Pusher</h1>
        <h5>A design project explores the possibilities to improve spellchecking experience in a creative way.</h5>
        <div class="skills">
          <div class="skill-tag">UI/UX Design</div>
          <div class="skill-tag">Micro Interaction</div>
          <div class="skill-tag">Vedio Animation</div>
        </div>
        <a href="/portfolio/SpellcheckPusher" class="btn btn-primary">VIEW CASE STUDY</a>
      </div>
      <div class="col-12 col-md-6 offset-md-1">
        <a href="/portfolio/SpellcheckPusher"><img src="/images/Spellcheck.png" alt="Spellcheck Pusher" class="img-fluid"></a>
      </div>
    </div>
  </div>
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>The Neighbours</h1>
        <h5>An interactive project that question the meaning of the neighbours. Technology gives us the possibility to become neighbour with people of different time and space. However, are these real interactions? Are we the neighbour close enough or simply far away?</h5>
        <div class="skills">
          <div class="skill-tag">Web Development</div>
          <div class="skill-tag">Interaction Design</div>
        </div>
        <a href="/portfolio/Neighbours" class="btn btn-primary">VIEW PROJECT</a>
      </div>
      <div class="col-12 col-md-6 offset-md-1">
        <a href="/portfolio/Neighbours"><img src="/images/Neighbours.png" alt="The Neighbours" class="img-fluid"></a>
      </div>
    </div>
  </div>
  <div class="work" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>CoBoard</h1>
        <h5>CoBoard expects to fill the lack of temperature and emotion in remote interaction. Furthermore, let people feel more connected to a loved one in an engaging way.</h5>
        <div class="skills">
          <div class="skill-tag">Web Development</div>
          <div class="skill-tag">Interaction Design</div>
          <div class="skill-tag">Respberry Pi</div>
        </div>
        <a href="/portfolio/CoBoard" class="btn btn-primary">VIEW PROJECT</a>
      </div>
      <div class="col-12 col-md-6 offset-md-1">
        <a href="/portfolio/CoBoard"><img src="/images/CoBoard.png" alt="CoBoard" class="img-fluid"></a>
      </div>
    </div>
  </div>
</div>

