<div class="col-md-12 col-12 mb-4 layout-main">
  <div class="portfolio-index">
     <% site.categories.findOne({name: 'portfolio'}).posts.sort('date', -1).each(function(item){%>
       <%- partial('_partial/portfolio-index', {item: item}) %>
    <% }) %>
  </div>
</div>
