<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="layout-main">
         <% site.categories.findOne({name: 'portfolio'}).posts.sort('date', -1).each(function(item){%>
           <%- partial('_partial/portfolio-index', {item: item}) %>
        <% }) %>
      </div>
    </div>
  </div>
</div>

