body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400; /* regular */
	font-size: 1.2rem; /* 16px */
	color: #0e0e2c;
}

/* ============================ Typography ====================================== */

.display-1, .display-2, .display-3, .display-4 {
	font-family: 'Open Sans', serif;
	font-weight: 800; /* extra-bold */
	margin-bottom: 2rem;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Open Sans', serif;
	font-weight: 800; /* extra-bold */
	margin-bottom: 2rem;
	line-height: 1.5;
}

h4, h5, h6 {
	font-family: 'Open Sans', serif;
	font-weight: 600; /* semi-bold */
	margin-bottom: 2rem;
	line-height: 1.5;
}

a {
	color: #ed4b9e;
	text-decoration: none;
}

a:hover, a:focus {
	color: #ed4b9e;
	text-decoration: none;
	opacity: 0.7;
	transition: all 0.2s ease-out;
}

blockquote {
  font: italic 1.3em/2 'Open Sans', serif;
  margin: 0 0 2em 0;
}

.pink {
	color: #ed4b9e;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin-bottom: inherit;
	line-height: inherit;
}

/* ============================ End of Typography ====================================== */

/* ============================ Layout Scaffold ====================================== */

.page-header nav > *,
.page-main,
.page-footer > * {
	opacity: 0;
}

.page-header nav > * {
	transform: translateY(-30px);
}

.page-footer > *,
.page-main {
	transform: translateY(30px);
}

.page-main .hero .portrait {
	transform: translateY(30px);
}

.loaded .page-header nav > *,
.loaded .page-footer > * {
	animation: fadeIn 0.8s ease-in forwards, slideIn 0.6s ease-in forwards;
}

.loaded .page-main {
	animation: fadeIn 0.8s ease-in 0.5s forwards, slideIn 0.6s ease-in 0.5s forwards;
}

.loaded .page-main .hero .portrait {
	animation: slideIn 1s ease-in 0.5s forwards;
}
 
@keyframes fadeIn {
  60% {
    opacity: 0.5;
  }
   
  100% {
    opacity: 1;
  }
}
 
@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}

/* ============================ End of Layout Scaffold ====================================== */

/* ============================ Blog and Portfolio Layout ====================================== */

.layout-main {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-content {
	line-height: 2;
	color: inherit;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 960px;
	padding-left: 20px;
	padding-right: 20px;
}

.portfolio-img {
	width: 100%;
	max-height: 350px;
	display: block;
	object-fit: cover;
}

.project-img {
	width: 100%;
	display: block;
	object-fit: cover;
}

.blog-full-image {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

p>img {
	width: 100%;
	height: auto;
}

/* Image Hover Effect */

.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.hovereffect .overlay-text {
	max-width: 80%;
	font-family: 'Open Sans', serif;
	font-weight: 700; /* bold */
	margin-bottom: 2rem;
	font-size: 1.5rem;
	color: #0e0e2c;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.hovereffect:hover .overlay-text {
	opacity: 1;
	filter: alpha(opacity=100);
}

.hovereffect img {
	display: block;
	position: relative;
	max-width: none;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.hovereffect:hover img {
	opacity: 0;
	filter: alpha(opacity=0);
}

/* ============================ End of Blog and Portfolio Layout ====================================== */

/* ============================ Navbar ====================================== */
.navbar-brand {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 1.5rem;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.navbar-light .nav-item .nav-link {
	text-transform: uppercase;
	color: #0e0e2c;
	font-weight: 700;
	font-size: 1rem;	
}

.navbar-toggler {
	border: 0;
}

.navbar-toggler-right {
	right: 0rem;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
	background-color: transparent;
	outline: none;
}

/* ============================ End of Navbar ====================================== */

/* ============================ Homepage ====================================== */

/* Start of hero*/

.hero{
	min-height: 85vh;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.hero .hero-text {
	position: relative;
	padding-top: 40px;
	max-width: 600px;
	z-index: 3;
}

.hero .portrait {
	position: absolute;
	z-index: 2;
	right: 0;
	bottom: 10%;
	width: 100%;
	height: auto;
}

.hero .ellipse {
	position: absolute;
	z-index: 1;
	right: 10%;
	bottom: 0;
	width: 100%;
	height: auto;
}
/* End of hero */

/* Start of Dark Block */
.dark-block {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #0e0e2c;
	color: white;
}

.dark-block h5 {
	margin-bottom: 1rem;
}
/* End of Dark Block */

/* Start of Work */
.work {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 15px;
	padding-right: 15px;
}

.skills {
	margin-bottom: 1rem;
}

.skill-tag {
	display: inline-block;
	padding: 12px 16px;
	background-color: #ecf1f4;
	border-radius: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 0.875rem;
}

.btn-primary {
	background-color: #0e0e2c;
	color: #ecf1f4;
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	padding: 1rem 1.5rem;
	margin-bottom: 1rem;
}

.btn-primary:hover {
	background-color: #ed4b9e;
	border-color: transparent;
	opacity: 1;
}
/* End of Work */

/* Start of Pre Footer */
footer {
	text-align: center;
	margin: 0 auto;
}

.back-to-top {
	display: block;
	margin-bottom: 48px;
}

.hero .footer-social {
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: 12px;
}

.footer-social {
	margin-bottom: 1rem;
}

.footer-social a{
	color: #ed4b9e;
	padding: 12px;
	font-size: 24px;
}

.footer-social a:hover {
	opacity: 0.8;
}

/* End of Pre Footer */

/* ============================ End of Homepage ====================================== */

/* ============================ Media Queries ====================================== */

@media only screen and (min-width: 1200px) {
	.container {
		width: 1240px;
	}
	.hero .portrait {
		max-width: 530px;
	}
	.hero .ellipse {
		max-width: 680px;
	}
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
	.hero .portrait {
		max-width: 400px;
	}
	.hero .ellipse {
		max-width: 550px;
	}
}

@media only screen and (max-width: 768px) {
	.hero .portrait {
		max-width: 300px;
	}
	.hero .ellipse {
		max-width: 450px;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 21px;
	}
	h5 {
		font-size: 18px;
	}
	h6 {
		font-size: 14px;
	}
	.dark-block, .work {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

/* ============================ End of Media Queries ====================================== */